# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.ai_test_runner

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
.env.development*
.env.local*
.env.test*
.env.production*
.idea/*.*
.idea/*
launch.json
.tool-versions
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Internal Ignores
**/__snapshots__
src/bento/.localSearchData.js.swp
*.swp
src/bento/.localSearchData.js.swp
public/injectEnv.js


.envrc
.direnv/
