.data-dictionary-node {
  /* background: var(--g3-color__white); */
  background-color: #f4f5f5;
  border-bottom: 1px solid var(--dictionary-border-color);
  border-right: 1px solid var(--dictionary-border-color);
  display: flex;
  justify-content: space-between;
  padding: 15px 5px 10px 10px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: var(--dictionary-border-color);
  cursor: pointer;
  margin-bottom: 5px;
}

.data-dictionary-node__title {
  width: 260px;
  flex-grow: 0;
  flex-shrink: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 900;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  line-height: 14px;
}

.data-dictionary-node:hover .data-dictionary-node__title {
  color: var(--g3-color__base-blue);
}

.data-dictionary-node__file-icon {
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.data-dictionary-node__toggle-icon {
  margin-left: 10px;
  position: relative;
  top: 3px;
}

.data-dictionary-node__description {
  flex-grow: 3;
  padding: 0 10px;
  font-size: 14px;
  line-height: 17px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-left: 0;
}

.data-dictionary-node__label {
  color: #8e8e8e;
  font-weight: 900;
  margin-right: 5px;
  border-radius: 100px;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding: 2px 12px;
  background: #fff;
  font-size: 12px;
}

.data-dictionary-node__assignment_group {
  text-align: right;
}

.data-dictionary-node__class,
.data-dictionary-node__assignment {
  margin-left: 5px;
  color: #000;
  font-weight: 500;
}

.data-dictionary-node__class_group {
  padding-left: 18px;
}

.data-dictionary-node__download-button-group {
  text-align: right;
  margin-top: -5px;
}

.data-dictionary-node__download-group {
  display: inline;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 5px;
}

.data-dictionary-node__button-wrap {
  border-right: 1px solid var(--dictionary-border-color);
  float: right;
  margin-top: -5px;
}

.data-dictionary-node__button-wrap:last-child {
  border-right: none;
}

.data-dictionary-node__download-button_tsv {
  padding: 0;
  width: 35px;
  border: none;
  background-color: inherit;
  margin-right: 10px;
}

.data-dictionary-node__download-button-group_loading {
  opacity: 0.5;
  color: #f4f5f5;
  background-color: #0a4a6d;
  float: left;
  width: 400px;
}

.data-dictionary-node__download-button_pdf {
  height: 30px;
  margin: 5px 6px 0 6px;
  padding: unset; /* override .g3-button's paddings */
  font-weight: normal;
  display: block;
  color: var(--g3-color__white);
  text-align: right;
}

.data-dictionary-node__loading {
  padding: 5px 5px;
  background-color: #0B3557;
}

.data-dictionary-node__download-button_pdf > img {
  width: 35px;
  margin-top: -5px;
}

.data-dictionary-node__download-button_tsv:hover,
.data-dictionary-node__download-button:active {
  cursor: pointer;
}

.data-dictionary-node__download-button .g3-icon {
  position: relative;
  top: 1px;
  left: -2px;
}

.data-dictionary-node__multiple-download-button {
  width: 180px;
  min-width: unset; /* override .g3-button's 152px min-width */
  height: 30px;
  margin: 0 6px;
  padding: unset; /* override .g3-button's paddings */
  font-weight: normal;
  display: inline;
  background-color: #0B3557;
  color: var(--g3-color__white);
  padding: 5px 6px 5px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.data-dictionary-node__multiple-download-button:hover,
.data-dictionary-node__multiple-download-button:active {
  color: white;
  background-color: var(--g3-color__base-blue);
}

.data-dictionary-node__multiple-download-button .g3-icon {
  position: relative;
  top: 1px;
  left: -2px;
}

.data-dictionary-node__property {
  margin: 10px 0 20px 40px;
  position: relative;
}

.data-dictionary-node__property-summary {
  margin: 5px 0;
}

.data-dictionary-node__property-close {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.data-dictionary-node__property-close:hover {
  color: var(--g3-color__black);
}

.data-dictionary-node__property-close-icon {
  position: relative;
  top: 4px;
  margin-left: 10px;
  background-color: var(--g3-color__gray);
}

.data-dictionary-node__property-close:hover .data-dictionary-node__property-close-icon {
  background-color: var(--g3-color__black);
}
