:root {
  --dictionary-header-color: var(--g3-color__gray);
  --dictionary-border-color: var(--g3-color__silver);
  --dictionary-border-color--hover: var(--g3-color__lightgray);
}

.data-dictionary-node__table_body {
  border: 0.75px solid #c1c1c1;
  padding: 24px 23px;
}